name: Tag and publish
on:
  push:
    branches:
      - main
jobs:
  tag:
    uses: AllenNeuralDynamics/.github/.github/workflows/release-bump-version.yml@main
    secrets:
      repo-token: ${{ secrets.SERVICE_TOKEN }}
  publish_image:
    needs: tag
    uses: AllenNeuralDynamics/.github/.github/workflows/release-publish-docker-image.yml@main
    with:
      docker-tag: ${{ needs.tag.outputs.new_version }}
    secrets:
      repo-token: ${{ secrets.SERVICE_TOKEN }}

